# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# buddies
git+https://github.com/philippe-lemaire/pikmin
git+https://github.com/Aymeric-B/my_project
git+https://github.com/SergioPx/myfirstpy
git+https://github.com/Torque690/holyPk
git+https://github.com/myriamgenety/mlproject
git+https://github.com/ouic/my_shared_project
